
html, body{
    overflow-x: hidden;
    font-family: 'Exo', sans-serif;
}
.navbar-brand .logo{
    width: 150px;    
}
.navbar-dark .nav-link {
    width: fit-content;       
    color: #fff !important;    
    padding-top: 5px;
    padding-bottom: 5px;    
    margin-right: 10px;           
    font-size: 16px;
    font-weight: 500;
}
.navbar-dark .nav-link:hover{
    border-bottom: 1px solid #1f1f1f;          
}
.navbar-dark .nav-link:active{
    border-bottom: 1px solid #1f1f1f;    
}
.navbar-dark .nav-link.masuk{
    color: #DD6D22 !important;
    background-color: #fff;    
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;        
}
.navbar-dark .nav-link.nav-link.masuk:hover{
    background-color: #DD6D22;          
    border-bottom: none;    
    color: #fff !important;
}
.navbar-dark .nav-link.daftar{
    color: #fff !important;
    background-color: #DD6D22;    
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
}
.navbar-dark .nav-link.nav-link.daftar:hover{
    background-color: #fff;  
    color: #DD6D22 !important;   
    border-bottom: none;             
}
/* GLOBAL */
section{
    padding: 80px 0;
}
.title-section {             
    position: relative;
    display:inline-block;   
    padding: 10px 30px 10px 80px;
    z-index: 1;
    color: #fff;
    margin-bottom: 50px;
    font-weight: 700;
}
.title-section::before{
    background-color: #FF9517;
    position: absolute;
    content: '';
    width: 4%;
    height: 100%;
    top: 0;
    left: 0; 
    -webkit-transform: skew(333deg);
    -moz-transform: skew(333deg); 
    -o-transform: skew(333deg); 
    z-index: 1;
}
.title-section:after {
    background-color: #FF9517;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 25px;    
    -webkit-transform: skew(333deg);
    -moz-transform: skew(333deg); 
    -o-transform: skew(333deg); 
    z-index: -1;
} 
.title-section2 {             
    color: #1f1f1f;
    font-weight: 700;
    margin-bottom: 50px;
}
/* BANNER */
.banner{
    background-image: url('/assets/images/bg-header.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 95vh;    
}

.text-banner{
    color: #fff;
}
.text-banner img{
    width: 100%;
}
.text-banner h1{    
    font-weight: 800;
    font-style: italic;
    text-shadow: -3px 2px #669c20;
}
.text-banner p{
    font-weight: 500;
}
.text-banner hr{
    border-top: 1px solid #fff;
}
.hero img{
    width: 100%;
}
/* TENTANG & PEDOMAN*/
.text-tentang a{
    color: blueviolet;
    font-weight: 500;
    display: block;
    margin-bottom: 50px;    
}
.text-tentang p{
    font-weight: 500;
    color: #6b6b6b;
}
.pedoman a{
    display: block;
    padding: 10px 50px 10px 30px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 500;
}
.pedoman a:hover{
    text-decoration: none;
    color: #fff;
}
.btn-pedoman1{
    background-color: #8BC53F;
}
.btn-pedoman1:hover{
    background-color: #669c20;
}
.btn-pedoman2{
    background-color: #00ADEE;
}
.btn-pedoman2:hover{
    background-color: #0093c9;
}

/* VIDEO SLIDER */
.video{
    background-image: url('/assets/images/bg-video.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.slider-video{
    width: 100%;
    height: 230px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.text-video h1{
    margin-bottom: 14px;
    font-weight: 600;
}
.text-video a{
    margin-top: 10px;
    padding: 5px 24px;
    background-color: #DD6D22;
    color: #fff;
    font-weight: 600;
}
.text-video a:hover{
    background-color: #bb5613;
    text-decoration: none;
    color: #fff;
}
/* BIDANG */
.bidang .col-md-3{
    padding-left: 3px;
    padding-right: 3px;
}
.img-bidang{
    display: block;
    height: 320px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.card-bidang{
    height: 100%;
}
.img-card{
    width: 100%;
    display: block;
    height: 50%;
    object-fit: cover;
    object-position: center;            
}
.bdg-karate{
    display: flex;
    flex-direction: column;
    background-color: #669c20;
    height: 50%;
    padding: 15%;
}
.bdg-karate a{
    text-align: center;
    margin: auto;
    display: block;
    font-weight: 600;
    color: #fff;
}
.bdg-karate a:hover{    
    color: #fff;
}
.bdg-silat{
    display: flex;
    flex-direction: column;
    background-color: #00ADEE;
    height: 50%;
    padding: 15%;
}
.bdg-silat a{
    text-align: center;
    margin: auto;
    display: block;
    font-weight: 600;
    color: #fff;
}
.bdg-silat a:hover{    
    color: #fff;
}
/* PENGUMUMAN */
.box-pengumuman{
    width: 100%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}
.box-pengumuman a{
    display: block;
    padding: 8px 45px;
    margin: 23px 0;
    color: #fff;
    background-color: #FF9517;
    opacity: 0.5;
}
.box-pengumuman a:hover{
    color: #fff;
    text-decoration: none;
    background-color: #FF9517;
    opacity: 1;
    transition: 3.5ms;
}
/* COUNTDOWN */
.card-count-sma{
    padding: 180px 187px;
}
.card-count-sma h2{
    font-weight: 700;
    color: #669c20;
    margin-bottom: 12px;
}
.card-count-smk{
    padding: 12% 2% 12% 40%;
}
.card-count-smk h2{
    font-weight: 700;
    color: #00ADEE;
    margin-bottom: 12px;
}
/* MEDIA SOSIAL */
.medsos{
    display: flex;
    
}
.link{
    text-align: center;
    margin: 5px 10px;
    color: #9E9E9E;
}
.link i{
    font-size: 40px;
    margin-bottom: 8px;
}
/* FOOTER */
footer{
    padding: 80px 0;
    background: rgb(245,117,29);
    background: linear-gradient(42deg, rgba(245,117,29,1) 0%, rgba(252,190,23,1) 100%);
}
footer img{
    width: 100%;
}

.text-footer{
    color: #fff;
}
.text-footer hr{
    border-top: 1px solid #fff;
}


::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #FF9517;
}

/* REGISTER */
.header{
    background-image: url('/assets/images/bg-header.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.title-register{
    color: #fff;
    text-shadow: -3px 2px #8bc53f;
    margin-bottom: 50px;
}
.logo-reg{
    display: block;
    margin: auto;
    width: 50%;
}

.txt-sma h3{
    color: #8BC53F;
}
.input-nisn{    
    display: block;
    width: fit-content;
    padding: 6px;
    border-radius: 24px;
}
.input-nisn input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;    
}
.input-nisn input:focus{
    outline: none;
}
.input-nisn button{
    outline: none;
    border: none;    
    color: #fff;
    border-radius: 19px;
    padding: 5px 16px;
}
.txt-sma .input-nisn{
    border: 1px solid #8BC53F;
}
.txt-sma .input-nisn button{
    background-color: #8BC53F;
}

.txt-smk h3{
    color: #00ADEE;
}
.txt-smk .input-nisn{
    border: 1px solid #00ADEE;
}
.txt-smk .input-nisn button{
    background-color: #00ADEE;
}



/* Responsive */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .navbar-brand .logo{
        width: 100px;    
    }
    .text-banner img{
        width: 55%;
    } 
    .text-banner h1{
        font-size: 2rem;
    }
    .hero img {
        width: 80%;
        display: block;
        margin: auto;
    }
    .text-video h1{
        font-size: 2rem;
    }
    .countdown-wrapper{
        left: 0 !important;
    }
    .medsos{
        flex-direction: column;
    }
}

/* PAGE INFORMASI */
.info h1,h5{
    color: #DD6D22;
}
.info small {
    color: #6b6b6b;
}
.info p{
    margin-top: 20px;
    color: #313131;    
}
.info ul li a{
    color: #477210;
}
.info ul li a:hover{
    text-decoration: none;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .banner{
        height: 100vh
    }
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .banner{
        height: 80vh
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
}